@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laptop(z)</h1>
    <p>Laptops for your lap.</p>
</div>
<div class="olContent f1"><h2>Search</h2></div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter Search Term" name="searchKey" class="form-control" />
</div>
<hr />
<div class="row">
    <a asp-area="" asp-controller="Laptops" asp-action="Index"><h2>View Laptops on Sale</h2></a>
</div>
