@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laptop(z)</h1>
    <p>Laptops for your lap.</p>
</div>

<hr />
<div class="row">
    <a asp-area="" asp-controller="Laptops" asp-action="Index"><h2>View Laptops on Sale</h2></a>
    
</div>
