@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizza Place</h1>
    <p>Quick delivery.</p>
</div>

<hr />
<div class="row">
    <a asp-area="" asp-controller="Laptops" asp-action="Index"><h2>View Menu</h2></a>
    
</div>
